# Ignore node_modules directory
node_modules/

# Ignore build output
dist/

# Ignore environment variables file
.env


# Ignore JavaScript source maps
*.js.map

# Ignore any local configuration files
config.local.json

# Ignore editor-specific files
.vscode/
.idea/

# Ignore macOS system files
.DS_Store
